// only required if you are using the icons-far or icons-fab feature
$fa-font-path: "webfonts";
@import "node/node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node/node_modules/@fortawesome/fontawesome-free/scss/brands";

// PatternFly styles
@import "node/node_modules/@patternfly/patternfly/patternfly.scss";
@import "node/node_modules/@patternfly/patternfly/patternfly-addons.scss";

section.pf-m-fill {
  display: grid;
  align-items: stretch;
  //justify-items: stretch;
  margin: 0;
}

section.pf-m-fill > canvas {
}